.profile_container {
    margin: 50px 50px;
    width: 250px;
    height: 250px;
    background-color: white;
    /* Ensure the background color is white */
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    /* Hide overflow if any */
    position: relative;
    
}

.proimg {
    width: 80%;
    height: 80%;
    background-size: contain;
    /* Ensure the image scales correctly */
    background-repeat: no-repeat;
    /* Prevent repeating the image */
    background-position: center;
    /* Center the image within the container */
    border-radius: 50%;
    /* If you want a circular image, otherwise remove this */

}

.profile_data {
    margin-top: 50px;
    width: 70%;
    height: 250px;
    background-color: white;
    /* justify-content: center; */
    overflow: hidden;
    /* position: relative; */
}
.Fstrow_data{
    /* margin-bottom:a ; */
    align-items: flex-start;
    display: flex;
}
.Sndrow_data{
    align-items: flex-start;
    display: flex;
}
.Trdrow_data{
    align-items: flex-start;
    /* display: flex; */
}
.profile_box {
    display: flex;
    background-color: white;
}

.Fstrow_data > #uname {
    text-align: left;
    padding:20px 10px;
    font-size: larger;
}
.Fstrow_data > #iconsett {
    margin: 21px 1px;
    text-align: left;
    padding:10px 10px;
    font-size: xx-small;
    /* border: 1px black solid; */
}
.Sndrow_data > #nposts,.Sndrow_data > #nfriends {
    text-align: left;
    padding: 10px 20px;
    font-size: medium;
}
.Trdrow_data > #fname,.Trdrow_data > #bio {
    text-align: left;
    padding: 5px 20px;
    font-size: medium;
}
.Fstrow_data > .pbutton{
    font-weight: bold;
    margin-left: 10px;
    margin-top: 15px;
    padding: 10px;
    border-radius: 10px;
    border: 1px none;
}
.postfeed,
.profile_container,
.proimg ,
.profile_data,
.Fstrow_data,
.Sndrow_data,
.Trdrow_data{
    /* border: 1px black solid; */
}



/*icons*/
.system-uicons--settings {
    display: inline-block;
    width: 3.9em;
    height: 3.9em;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 21 21'%3E%3Cg fill='none' fill-rule='evenodd' stroke='%23000000' stroke-linecap='round' stroke-linejoin='round' transform='translate(3 3)'%3E%3Cpath stroke-width='0.93' d='M7.5.5c.351 0 .697.026 1.034.076l.508 1.539c.445.127.868.308 1.26.536l1.46-.704c.517.397.977.865 1.365 1.389l-.73 1.447c.221.396.395.822.514 1.27l1.53.533a7.066 7.066 0 0 1-.017 1.948l-1.539.508a5.567 5.567 0 0 1-.536 1.26l.704 1.46a7.041 7.041 0 0 1-1.389 1.365l-1.447-.73a5.507 5.507 0 0 1-1.27.514l-.533 1.53a7.066 7.066 0 0 1-1.948-.017l-.508-1.539a5.567 5.567 0 0 1-1.26-.536l-1.46.704a7.041 7.041 0 0 1-1.365-1.389l.73-1.447a5.565 5.565 0 0 1-.514-1.27l-1.53-.534a7.066 7.066 0 0 1 .017-1.947l1.539-.508c.127-.445.308-.868.536-1.26l-.704-1.46a7.041 7.041 0 0 1 1.389-1.365l1.447.73a5.507 5.507 0 0 1 1.27-.514l.534-1.53A7.06 7.06 0 0 1 7.5.5'/%3E%3Ccircle cx='7.5' cy='7.5' r='3'/%3E%3C/g%3E%3C/svg%3E");
  }
/*icons*/

@media (max-width: 768px) {
    .profile_box {
        flex-direction: column;
        align-items: center;
    }

    .profile_container {
        width: 335px;
        height: 100px;
        margin: 20px 0;
        display: flex;
    }

    .proimg {
        width: 25%;
        height: 100%;
        margin-right: 20px;
    }

    .profile_data {
        width: 90%;
        margin-top: 10px;
        height: auto;
    }

    .Fstrow_data,
    .Trdrow_data {
        /* flex-direction: column; */
        align-items: center;
    }
    /* .Trdrow_data {   
        margin-right: -10px;
    } */
    .Sndrow_data {
        display: flex;
        justify-content: center;
        width: 100%;
        margin-top: 10px;
    }

    .Fstrow_data > #uname,
    .Fstrow_data > .pbutton,
    .Fstrow_data > #iconsett,
    .Sndrow_data > #nposts,
    .Sndrow_data > #nfriends,
    .Trdrow_data > #fname,
    .Trdrow_data > #bio {
        text-align: center;
        padding: 10px 10px;
        font-size: medium;
        /* border: 1px solid black; */
    }

    .Fstrow_data > .pbutton {
        margin-top: 10px;
    }
}

/* .postfeed{
    border: 1px solid black;
    margin: 20px 40px;
} */

/*add post */
.icon-btn {
    margin-top: 17px;
    margin-left: 10px ;
    width: 50px;
    height: 40px;
    border: 1px none #cdcdcd;
    /* padding:2px 0px; */
    background: cdcdcd;
    border-radius: 10px;
    overflow: hidden;
    position: relative;
    transition: width 0.5s ease-in-out;
    font-weight: 500;
    font-family: inherit;
  }
  
  .add-btn:hover {
    width: 120px;
  }
  
  .add-btn::before,
  .add-btn::after {
    transition: width 0.5s ease-in-out, border-radius 0.2s ease-in-out;
    content: "";
    position: absolute;
    height: 4px;
    width: 10px;
    top: calc(50% - 2px);
    background: rgb(0, 0, 0);
  }
  
  .add-btn::after {
    right: 14px;
    overflow: hidden;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
  }
  
  .add-btn::before {
    left: 14px;
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
  }
  
  .icon-btn:focus {
    outline: none;
  }
  
  .btn-txt {
    opacity: 0;
    transition: opacity 0.2s;
  }
  
  .add-btn:hover::before,
  .add-btn:hover::after {
    width: 4px;
    border-radius: 2px;
  }
  
  .add-btn:hover .btn-txt {
    opacity: 1;
  }
  
  .add-icon::after,
  .add-icon::before {
    transition: all 0.s ease-in-out;
    content: "";
    position: absolute;
    height: 20px;
    width: 2px;
    top: calc(50% - 10px);
    background: rgb(0, 0, 0);
    overflow: hidden;
  }
  
  .add-icon::before {
    left: 23px;
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
  }
  
  .add-icon::after {
    right: 22px;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
  }
  
  .add-btn:hover .add-icon::before {
    left: 15px;
    height: 4px;
    top: calc(50% - 2px);
  }
  
  .add-btn:hover .add-icon::after {
    right: 15px;
    height: 4px;
    top: calc(50% - 2px);
  }
/*add post */
/*profileskeleton*/
.card {
    display: flex;
    margin-left: 30px;
    /* margin-bottom: 100px; */
    width: 1000px;
    height: 540px;
    background: #ffff;
    /* box-shadow: 0 1px 25px rgba(0,0,0,0.2); */
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    padding: 12px 10px;
  }
  
  .card_load {
    margin: 50px 30px;
    width: 200px;
    height: 200px;
    position: relative;
    float: left;
    background: linear-gradient(120deg, #e5e5e5 30%, #f0f0f0 38%, #f0f0f0 
    40%, #e5e5e5 48%);
    border-radius: 50%;
    background-size: 200% 100%;
    background-position: 100% 0;
    animation: load89234 2s infinite;
  }
  
  .card_load_extreme_title {
    display: inline-block;
    width: 900px;
    height: 47px;
    position: relative;
    float: right;
    border-radius: 5px;
    background: linear-gradient(120deg, #e5e5e5 30%, #f0f0f0 38%, #f0f0f0 
    40%, #e5e5e5 48%);
    background-size: 200% 100%;
    background-position: 100% 0;
    animation: load89234 2s infinite;
  }
  
  .card_load_extreme_descripion {
    width: 900px;
    height: 140px;
    position: relative;
    float: right;
    border-radius: 5px;
    background: linear-gradient(120deg, #e5e5e5 30%, #f0f0f0 38%, #f0f0f0 
    40%, #e5e5e5 48%);
    margin-top: 10px;
    background-size: 200% 100%;
    background-position: 100% 0;
    animation: load89234 2s infinite;
  }
  
  @keyframes load89234 {
    100% {
      background-position: -100% 0;
    }
  }
  @media (max-width: 768px) {
    .card {
        display:inline;
        width: 335px;
        height: 500px;
        margin: 20px auto;
        padding: 10px;
    }

    .card_load {
        /* margin: 5px 10px; */
        /* align-items: flex-start; */
        left: auto;
        width: 25%;
        height: 20%;
        margin: 20px auto;
    }

    .card_load_extreme_title{
        
        width: 60%;
        margin: 10px auto;
    }
    .card_load_extreme_descripion {
        width: 90%;
        margin: 10px 10px;
    }
}
/*profileskeleton*/
/*postsfeed*/
.postfeed {
    /* border: 1px solid black; */
    margin: 20px 10px;
}

  
  /* Responsive Layout for Posts Grid */
  .postsgrid {
    margin: 50px 50px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 10px;
    background-color: white;
    position: relative;
  }
  
  .postcont {
    width: 100%;
  }
  
  .posts {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10%;
  }
  
  /* Responsive Layout Adjustments */
  @media (max-width: 600px) {
    /* .profile_container {
      flex-direction: column;
    } */
  
    .postsgrid {
      margin: 20px 0;
      grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
    }
  }
/*postsfeed*/