.profile_container {
    margin: 50px 50px;
    width: 250px;
    height: 250px;
    background-color: white;
    /* Ensure the background color is white */
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    /* Hide overflow if any */
    position: relative;
    
}

.proimg {
    width: 80%;
    height: 80%;
    background-size: contain;
    /* Ensure the image scales correctly */
    background-repeat: no-repeat;
    /* Prevent repeating the image */
    background-position: center;
    /* Center the image within the container */
    border-radius: 50%;
    /* If you want a circular image, otherwise remove this */

}

.profile_data {
    margin-top: 50px;
    width: 70%;
    height: 250px;
    background-color: white;
    /* justify-content: center; */
    overflow: hidden;
    /* position: relative; */
}
.Fstrow_data{
    /* margin-bottom:a ; */
    align-items: flex-start;
    display: flex;
}
.Sndrow_data{
    align-items: flex-start;
    display: flex;
}
.Trdrow_data{
    align-items: flex-start;
    /* display: flex; */
}
.profile_box {
    display: flex;
    background-color: white;
}

.Fstrow_data > #uname {
    text-align: left;
    padding:20px 10px;
    font-size: larger;
}
.Fstrow_data > #iconsett {
    margin: 21px 1px;
    text-align: left;
    padding:10px 10px;
    font-size: xx-small;
    /* border: 1px black solid; */
}
.Sndrow_data > #nposts,.Sndrow_data > #nfriends {
    text-align: left;
    padding: 10px 20px;
    font-size: medium;
}
.Trdrow_data > #fname,.Trdrow_data > #bio {
    text-align: left;
    padding: 5px 20px;
    font-size: medium;
}
.Fstrow_data > .pbutton{
    font-weight: bold;
    margin-left: 10px;
    margin-top: 15px;
    padding: 10px;
    border-radius: 10px;
    border: 1px none;
}
.postfeed,
.profile_container,
.proimg ,
.profile_data,
.Fstrow_data,
.Sndrow_data,
/* .model_header_h4, */
.Trdrow_data{
    /* border: 1px black solid; */
}



/*icons*/
.system-uicons--settings {
    display: inline-block;
    width: 3.9em;
    height: 3.9em;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 21 21'%3E%3Cg fill='none' fill-rule='evenodd' stroke='%23000000' stroke-linecap='round' stroke-linejoin='round' transform='translate(3 3)'%3E%3Cpath stroke-width='0.93' d='M7.5.5c.351 0 .697.026 1.034.076l.508 1.539c.445.127.868.308 1.26.536l1.46-.704c.517.397.977.865 1.365 1.389l-.73 1.447c.221.396.395.822.514 1.27l1.53.533a7.066 7.066 0 0 1-.017 1.948l-1.539.508a5.567 5.567 0 0 1-.536 1.26l.704 1.46a7.041 7.041 0 0 1-1.389 1.365l-1.447-.73a5.507 5.507 0 0 1-1.27.514l-.533 1.53a7.066 7.066 0 0 1-1.948-.017l-.508-1.539a5.567 5.567 0 0 1-1.26-.536l-1.46.704a7.041 7.041 0 0 1-1.365-1.389l.73-1.447a5.565 5.565 0 0 1-.514-1.27l-1.53-.534a7.066 7.066 0 0 1 .017-1.947l1.539-.508c.127-.445.308-.868.536-1.26l-.704-1.46a7.041 7.041 0 0 1 1.389-1.365l1.447.73a5.507 5.507 0 0 1 1.27-.514l.534-1.53A7.06 7.06 0 0 1 7.5.5'/%3E%3Ccircle cx='7.5' cy='7.5' r='3'/%3E%3C/g%3E%3C/svg%3E");
  }
/*icons*/

@media (max-width: 768px) {
    .profile_box {
        flex-direction: column;
        align-items: center;
    }

    .profile_container {
        width: 335px;
        height: 100px;
        margin: 20px 0;
        display: flex;
    }

    .proimg {
        width: 25%;
        height: 100%;
        margin-right: 20px;
    }

    .profile_data {
        width: 90%;
        margin-top: 10px;
        height: auto;
    }

    .Fstrow_data,
    .Trdrow_data {
        /* flex-direction: column; */
        align-items: center;
    }
    /* .Trdrow_data {   
        margin-right: -10px;
    } */
    .Sndrow_data {
        display: flex;
        justify-content: center;
        width: 100%;
        margin-top: 10px;
    }

    .Fstrow_data > #uname,
    .Fstrow_data > .pbutton,
    .Fstrow_data > #iconsett,
    .Sndrow_data > #nposts,
    .Sndrow_data > #nfriends,
    .Trdrow_data > #fname,
    .Trdrow_data > #bio {
        text-align: center;
        padding: 10px 10px;
        font-size: medium;
        /* border: 1px solid black; */
    }

    .Fstrow_data > .pbutton {
        margin-top: 10px;
    }
}

/* .postfeed{
    border: 1px solid black;
    margin: 20px 40px;
} */

/*add post */
.icon-btn {
    margin-top: 17px;
    margin-left: 10px ;
    width: 50px;
    height: 40px;
    border: 1px none #cdcdcd;
    /* padding:2px 0px; */
    background: cdcdcd;
    border-radius: 10px;
    overflow: hidden;
    position: relative;
    transition: width 0.5s ease-in-out;
    font-weight: 500;
    font-family: inherit;
  }
  
  .add-btn:hover {
    width: 120px;
  }
  
  .add-btn::before,
  .add-btn::after {
    transition: width 0.5s ease-in-out, border-radius 0.2s ease-in-out;
    content: "";
    position: absolute;
    height: 4px;
    width: 10px;
    top: calc(50% - 2px);
    background: rgb(0, 0, 0);
  }
  
  .add-btn::after {
    right: 14px;
    overflow: hidden;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
  }
  
  .add-btn::before {
    left: 14px;
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
  }
  
  .icon-btn:focus {
    outline: none;
  }
  
  .btn-txt {
    opacity: 0;
    transition: opacity 0.2s;
  }
  
  .add-btn:hover::before,
  .add-btn:hover::after {
    width: 4px;
    border-radius: 2px;
  }
  
  .add-btn:hover .btn-txt {
    opacity: 1;
  }
  
  .add-icon::after,
  .add-icon::before {
    transition: all 0.s ease-in-out;
    content: "";
    position: absolute;
    height: 20px;
    width: 2px;
    top: calc(50% - 10px);
    background: rgb(0, 0, 0);
    overflow: hidden;
  }
  
  .add-icon::before {
    left: 23px;
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
  }
  
  .add-icon::after {
    right: 22px;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
  }
  
  .add-btn:hover .add-icon::before {
    left: 15px;
    height: 4px;
    top: calc(50% - 2px);
  }
  
  .add-btn:hover .add-icon::after {
    right: 15px;
    height: 4px;
    top: calc(50% - 2px);
  }
/*add post */
/*profileskeleton*/
.card {
    display: flex;
    margin-left: 30px;
    /* margin-bottom: 100px; */
    width: 1000px;
    height: 540px;
    background: #ffff;
    /* box-shadow: 0 1px 25px rgba(0,0,0,0.2); */
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    padding: 12px 10px;
  }
  
  .card_load {
    margin: 50px 30px;
    width: 200px;
    height: 200px;
    position: relative;
    float: left;
    background: linear-gradient(120deg, #e5e5e5 30%, #f0f0f0 38%, #f0f0f0 
    40%, #e5e5e5 48%);
    border-radius: 50%;
    background-size: 200% 100%;
    background-position: 100% 0;
    animation: load89234 2s infinite;
  }
  
  .card_load_extreme_title {
    display: inline-block;
    width: 900px;
    height: 47px;
    position: relative;
    float: right;
    border-radius: 5px;
    background: linear-gradient(120deg, #e5e5e5 30%, #f0f0f0 38%, #f0f0f0 
    40%, #e5e5e5 48%);
    background-size: 200% 100%;
    background-position: 100% 0;
    animation: load89234 2s infinite;
  }
  
  .card_load_extreme_descripion {
    width: 900px;
    height: 140px;
    position: relative;
    float: right;
    border-radius: 5px;
    background: linear-gradient(120deg, #e5e5e5 30%, #f0f0f0 38%, #f0f0f0 
    40%, #e5e5e5 48%);
    margin-top: 10px;
    background-size: 200% 100%;
    background-position: 100% 0;
    animation: load89234 2s infinite;
  }
  
  @keyframes load89234 {
    100% {
      background-position: -100% 0;
    }
  }
  @media (max-width: 768px) {
    .card {
        display:inline;
        width: 335px;
        height: 500px;
        margin: 20px auto;
        padding: 10px;
    }

    .card_load {
        /* margin: 5px 10px; */
        /* align-items: flex-start; */
        left: auto;
        width: 25%;
        height: 20%;
        margin: 20px auto;
    }

    .card_load_extreme_title{
        
        width: 60%;
        margin: 10px auto;
    }
    .card_load_extreme_descripion {
        width: 90%;
        margin: 10px 10px;
    }
}
/*profileskeleton*/
/*postsfeed*/
.postfeed {
    /* border: 1px solid black; */
    margin: 20px 10px;
}

  
  /* Responsive Layout for Posts Grid */
  .postsgrid {
    margin: 50px 50px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 10px;
    background-color: white;
    position: relative;
  }
  
  .postcont {
    width: 100%;
  }
  
  .posts {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10%;
  }
  
  /* Responsive Layout Adjustments */
  @media (max-width: 600px) {
    /* .profile_container {
      flex-direction: column;
    } */
  
    .postsgrid {
      margin: 20px 0;
      grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
    }
    .model_header_h4{
      padding: 5px 40px;
    }
  }
/*postsfeed*/

/*model_header*/
.model_header_h4{
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  /* margin: 10px 100px; */
  font-size: larger;
  /* padding: 5px 100px; */
  text-align: center;
  color: black;
  border: 2px solid #e9ebec;
  border-radius: 10px;
  background-color: #e9ebec;
}

/*model_header*/
/*edit profile*/
.file-upload-form {
  width: fit-content;
  height: fit-content;
  display: flex;
  align-items: center;
  margin: auto;
  justify-content: center;
}
.file-upload-label input {
  display: none;
}
.file-upload-label svg {
  height: 50px;
  fill: rgb(82, 82, 82);
  margin-bottom: 20px;
}
.file-upload-label {
  cursor: pointer;
  background-color: #ddd;
  padding: 30px 70px;
  border-radius: 40px;
  border: 2px dashed rgb(82, 82, 82);
  box-shadow: 0px 0px 200px -50px rgba(0, 0, 0, 0.719);
}
.file-upload-design {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 5px;
}
.browse-button {
  background-color: rgb(82, 82, 82);
  padding: 5px 15px;
  border-radius: 10px;
  color: white;
  transition: all 0.3s;
}
.browse-button:hover {
  background-color: rgb(14, 14, 14);
}

/*edit profile*/

/*****/
.labelFile {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto;
  width: 300px;
  height: 120px;
  border: 2px dashed #ccc;
  align-items: center;
  text-align: center;
  padding: 5px;
  color: #404040;
  cursor: pointer;
  transition: border 0.5s;
}
.labelFile:hover{
  border:2px dashed rgb(57, 120, 255);;
}
.labelFile > p{
  font-size: x-small;
}
.labelFile ~ p{
  font-size: x-small;
}
.cardd{
  border: 2px solid #e0e0e0;
  margin: auto;
  padding: 10px;
  width: fit-content;
  border-radius: 5px;
}
.btn {
  background-color: #e0e0e0;
  padding: 5px;
  color: #fff;
  /* text-transform: uppercase; */
  /* letter-spacing: 1px; */
  font-size: xx-small;
  cursor: pointer;
  border-radius: 10px;
  border: 2px dashed #e0e0e0;
  /* box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px; */
  transition: .4s;
 }
 
 .btn span:last-child {
  display: none;
 }
 
 .btn:hover {
  transition: .4s;
  border: 2px dashed #e0e0e0;
  background-color: #fff;
  color: black;
 }
 
 .btn:active {
  background-color: #ddafaf;
 }
 
 /*caption*/
 .container_input {
  margin-top:10px ;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 500px;
  user-select: none;
}

.text {
  font-size: 0.8rem;
  text-align: left;
  width: 100%;
  color: black;
  font-weight: bold;
  margin-bottom: 3px;
}

.input1 {
  border-radius: 8px;
  padding: 7px 56px;
  width: 100%;
  box-shadow: rgba(77, 79, 82, 0.2) 0px 8px 24px;
  border: 2px solid rgb(184, 180, 180);
  font-size: 0.8rem;
  outline: none;
  transition: 0.5s ease;
}

.input1:hover {
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  border-color: rgb(138, 175, 255);
}

.input1:focus {
  border: 2px solid rgb(57, 120, 255);
  box-shadow: rgba(133, 130, 130, 0.1) 0px 4px 12px;
  transform: scale(0.99);
}

.input1::placeholder {
  font-size: 13px;
  font-weight: 600;
}

.button_sub {
  padding: 6px 15px;
  text-align: center;
  color: rgb(95, 87, 87);
  cursor: pointer;
  background-color: white;
  border-radius: 6px;
  border: none;
  transition: 0.5s;
  width: 100%;
  margin-top: 7px;
  font-size: 13px;
  box-shadow: rgba(104, 100, 100, 0.1) 0px 4px 6px -1px, rgba(49, 42, 42, 0.06) 0px 2px 4px -1px;
}

.button_sub:hover {
  border-radius: 7px;
  background-color: rgb(243, 242, 242);
  border-color: rgb(236, 232, 232);
}



 /*caption*/
 
/*****/