/* Navbar.css */

/* General styles */
body,
html {
  height: 100%;
  margin: 0;
  font-family: Arial, sans-serif;
}

/* Sidebar */
.sidebar {
  height: 100%;
  width: fit-content; /* Adjust as needed */
  position: fixed;
  top: 0;
  left: 0;
  background-color: #000000; /* Adjust color as per your design */
  overflow-x: hidden;
  padding-top: 20px;
  transition: all 0.3s;
}

.sidebar.active {
  width: 70px; /* Adjust width for collapsed state */
}

.sidebar a {
  padding: 10px 20px;
  text-decoration: none;
  font-size: 1.2rem;
  color: white;
  display: block;
}

.sidebar a:hover {
  opacity: 0.8;
}

.sidebar .navbar-brand {
  padding: 10px 20px;
  font-size: 1.5rem;
  font-weight: bold;
  color: white;
  text-decoration: none;
  display: block;
}

/* Navbar menu */
.navbar-menu {
  margin-top: 20px;
}

.navbar-menu .nav-link {
  display: flex;
  align-items: center;
}

.navbar-menu .nav-link i {
  margin-right: 10px;
  background-repeat: no-repeat;
  background-size: 80% 80%;
}

.navbar-menu .search-link {
  display: flex;
  align-items: center;
}

.navbar-menu .search-container {
  display: flex;
  align-items: center;
  margin-left: 10px;
}

.navbar-menu .search-container input {
  width: 200px; /* Adjust width as needed */
  padding: 5px;
}

/* Dropdown */
.dropdown {
  position: relative;
}

.dropdown .dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  display: none;
  float: left;
  min-width: 160px;
  padding: 8px 0;
  margin: 2px 0 0;
  font-size: 0.9rem;
  text-align: left;
  list-style: none;
  background-color: #343a40; /* Adjust dropdown background color */
  background-clip: padding-box;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 0.25rem;
}

.dropdown .dropdown-menu.show {
  display: block;
}

.dropdown .dropdown-item {
  color: white;
  padding: 10px 20px;
  text-decoration: none;
  display: block;
}

.dropdown .dropdown-item:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

/* Navbar auth */
.navbar-auth {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  text-align: center;
  padding: 20px;
}

.navbar-auth .nav-link {
  color: white;
  text-decoration: none;
  display: block;
  margin-bottom: 10px;
}

.navbar-auth .nav-link:hover {
  opacity: 0.8;
}

/* Main content */
.main-content {
  margin-left: 250px; /* Adjust to match sidebar width */
  padding: 20px;
  background-color: #f1f1f1; /* Adjust background color as needed */
  transition: margin-left 0.3s;
}

/* Toggle button */
.toggle-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 1.5rem;
  color: white;
  background: none;
  border: none;
  cursor: pointer;
  outline: none;
  z-index: 999;
  display: none; /* Initially hidden on larger screens */
}

.toggle-btn:hover {
  opacity: 0.8;
}

/* Icons */
.navbar-menu .nav-link i {
  display: inline-block;
  width: 2em;
  height: 2em;
  background-repeat: no-repeat;
  background-size: 80% 80%;
}

/* Specific Icon Styles */
.material-symbols--home {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='%23FFFFFF' d='M4 21V9l8-6l8 6v12h-6v-7h-4v7z'/%3E%3C/svg%3E");
}

.mingcute--search-line {
    display: inline-block;
    width: 3em;
    height: 3em;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cpath d='M24 0v24H0V0zM12.593 23.258l-.011.002l-.071.035l-.02.004l-.014-.004l-.071-.035c-.01-.004-.019-.001-.024.005l-.004.01l-.017.428l.005.02l.01.013l.104.074l.015.004l.012-.004l.104-.074l.012-.016l.004-.017l-.017-.427c-.002-.01-.009-.017-.017-.018m.265-.113l-.013.002l-.185.093l-.01.01l-.003.011l.018.43l.005.012l.008.007l.201.093c.012.004.023 0 .029-.008l.004-.014l-.034-.614c-.003-.012-.01-.02-.02-.022m-.715.002a.023.023 0 0 0-.027.006l-.006.014l-.034.614c0 .012.007.02.017.024l.015-.002l.201-.093l.01-.008l.004-.011l.017-.43l-.003-.012l-.01-.01z'/%3E%3Cpath fill='white' d='M10.5 2a8.5 8.5 0 1 0 5.262 15.176l3.652 3.652a1 1 0 0 0 1.414-1.414l-3.652-3.652A8.5 8.5 0 0 0 10.5 2M4 10.5a6.5 6.5 0 1 1 13 0a6.5 6.5 0 0 1-13 0'/%3E%3C/g%3E%3C/svg%3E");
  }

.ph--plus-fill {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='%23FFFFFF' d='M18 13h-5v5h-2v-5H6v-2h5V6h2v5h5v2z'/%3E%3C/svg%3E");
}

.fe--messanger {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='%23FFFFFF' d='M12 2C6.48 2 2 6.12 2 11.1c0 2.86 1.44 5.43 3.7 7.11V22l3.43-1.87c.9.25 1.85.37 2.87.37c5.52 0 10-4.12 10-9.4c0-5.26-4.48-9.4-10-9.4zm1.34 13.1l-2.8-3l-5.14 3l5.23-5.5l2.8 3l5.11-3l-5.2 5.5z'/%3E%3C/svg%3E");
}

.mage--video-player-fill {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='%23FFFFFF' d='M21.706 6.259h-4.328V2.212a6.14 6.14 0 0 1 4.328 4.047M6.65 2.212v4.047H2.275A6.13 6.13 0 0 1 6.65 2.212M15.613 2H8.415v4.259h7.198zM22 8.024H2.004a.671.671 0 0 0 0 .152v7.647A6.177 6.177 0 0 0 8.156 22h7.645a6.186 6.186 0 0 0 6.176-6.177V8.176A.67.67 0 0 0 22 8.024m-6.328 7.14a1.39 1.39 0 0 1-.376.448l-3.53 2.47a1.257 1.257 0 0 1-.634.224h-.118a1.27 1.27 0 0 1-1.059-.541c-.13-.195-.2-.425-.2-.66v-4.61c-.001-.23.064-.455.189-.648c.13-.177.299-.322.494-.423c.2-.09.416-.135.635-.13c.211.01.417.07.6.177L15.2 13.6a1.177 1.177 0 0 1 .589.976c.016.204-.025.407-.118.589'/%3E%3C/svg%3E");
}

.mdi--view-dashboard {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='%23FFFFFF' d='M13 3v6h8V3m-8 18h8V11h-8M3 21h8v-6H3m0-2h8V3H3z'/%3E%3C/svg%3E");
}

/* Profile image */
.navbar-auth img {
  width: 28px;
  height: 28px;
  border-radius: 50%;
}

/* Logout button */
.navbar-auth button {
  background-color: transparent;
  color: white;
  border: none;
  cursor: pointer;
  font-size: 1.2rem;
  text-decoration: underline;
}

.navbar-auth button:hover {
  opacity: 0.8;
}

/* Responsive adjustments */
@media (max-width: 768px) {
  .sidebar {
    width: 100%;
    height: auto;
    position: relative;
    margin-bottom: 10px;
  }

  .sidebar.active {
    height: 70px; /* Adjust height for collapsed state on mobile */
    width: 100%;
  }

  .main-content {
    margin-left: 0;
    padding: 20px;
  }

  .toggle-btn {
    display: block;
  }

  .sidebar a {
    padding: 10px 20px;
    text-decoration: none;
    font-size: 1rem;
  }

  .sidebar .navbar-brand {
    font-size: 1.2rem;
  }
}

/* Search icon */
.toggle-search-btn {
  position: absolute;
  top: 10px;
  right: 60px; /* Adjust position as needed */
  font-size: 1.5rem;
  color: white;
  background: none;
  border: none;
  cursor: pointer;
  outline: none;
  z-index: 999;
}

.toggle-search-btn:hover {
  opacity: 0.8;
}

/* Search container */
/* Search bar overlay */
.search-bar-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 50px;
  background-color: #fff; /* Adjust background color as needed */
  z-index: 999;
  display: flex;
  align-items: center;
  padding: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.search-container {
  flex: 1;
  display: flex;
  align-items: center;
}

.search-container input[type='text'] {
  width: 100%;
  padding: 5px;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.search-container input[type='text']:focus {
  outline: none;
  border-color: #17a2b8; /* Adjust focus color as needed */
  box-shadow: 0 0 5px #17a2b8; /* Adjust focus shadow as needed */
}
/* .search-container {
  display: flex;
  align-items: center;
  margin-left: 10px;
}

.search-container input[type='text'] {
  width: 200px; 
  padding: 5px;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.search-container input[type='text']:focus {
  outline: none;
  border-color: #17a2b8;
  box-shadow: 0 0 5px #17a2b8; 
} */

/* Responsive adjustments */
@media (max-width: 768px) {
  .toggle-search-btn {
    display: none; /* Hide search icon on smaller screens */
  }

  .search-container {
    position: relative;
    width: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    right: 0;
  }
}
