   .postcard {
    border-radius: 10px;
    margin: 20px auto;
    box-shadow: 3px 1px 10px 0.5px rgba(43, 42, 42, 0.145);
    width: 520px;
    padding: 20px;
    background-color: white;
  }
  
  .postcard .post-header {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }
  
  .postcard #uname {
    font-family: sans-serif;
    font-size: 1.2rem;
    margin-left: 10px;
    color: black;
    padding-left: 2px;
  }
  .postcard #uname1 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 1rem;
    margin-left: 10px;
  }
  .imgbox {
    display: flex;
    justify-content: center;
    padding: 10px;
    width: 100%;
  }
  
  .imgbox img {
    width: 100%;
    height: auto;
    max-width: 560px;
    border-radius: 10px;
  }
  
  .slick-slider {
    margin-bottom: 20px;
  }
  
  .slick-prev, .slick-next {
    z-index: 1;
  }
  
  .slick-dots li button:before {
    font-size: 12px;
  }
  .loader {
    margin: auto;
    position: relative;
    width: 550px;
    height: 400px;
    margin-bottom: 20px;
    border: 1px solid #d3d3d3;
    padding: 15px;
    background-color: #e3e3e3;
    overflow: hidden;
    transition: width 0.1s ,height 0.1s;
  }
  
  .loader:after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: linear-gradient(110deg, rgba(227, 227, 227, 0) 0%, rgba(227, 227, 227, 0) 40%, rgba(227, 227, 227, 0.5) 50%, rgba(227, 227, 227, 0) 60%, rgba(227, 227, 227, 0) 100%);
    animation: gradient-animation_2 1.2s linear infinite;
  }
  
  .loader .wrapper {
    width: 100%;
    height: 100%;
    position: relative;
  }
  
  .loader .wrapper > div {
    background-color: #cacaca;
  }
  
  .loader .circle {
    width: 50px;
    height: 50px;
    border-radius: 50%;
  }
  
  .loader .button {
    display: inline-block;
    height: 32px;
    width: 75px;
  }
  
  .loader .line-1 {
    position: absolute;
    top: 11px;
    left: 58px;
    height: 10px;
    width: 100px;
  }
  
  .loader .line-2 {
    position: absolute;
    top: 34px;
    left: 58px;
    height: 10px;
    width: 150px;
  }
  
  .loader .line-3 {
    position: absolute;
    top: 57px;
    left: 0px;
    height: 10px;
    width: 100%;
  }
  /*loader*/
  .loader .line-4 {
    position: absolute;
    top: 80px;
    left: 0px;
    height: 10px;
    width: 92%;
  }
  
  @keyframes gradient-animation_2 {
    0% {
      transform: translateX(-100%);
    }
    
    100% {
      transform: translateX(100%);
    }
  }
  /*loader*/
  /* Media queries for phone view */
  @media (max-width: 600px) {
    .postcard {
      width: 90%;
      padding: 10px;
    }
  
    .postcard #uname {
      font-size: 1.2rem;
    }
  
    .imgbox img {
      max-width: 100%;
    }
  
    .slick-prev, .slick-next {
      display: none;
    }
    .loader{
      width: 90%;
    }
  }
  

 


  /*like*/
  .like-button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    color: #333;
    font-size: 14px;
  }
  
  .like-button.liked {
    color: red;
  }
  
  .like-section {
    display: flex;
    align-items: center;
  }
  
  .like-section p {
    margin-right: 10px;
  }
  /* .flat-color-icons--like {
    display: inline-block;
    width: 2em;
    height:2em;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 48 48'%3E%3Cpath fill='%23f44336' d='M34 9c-4.2 0-7.9 2.1-10 5.4C21.9 11.1 18.2 9 14 9C7.4 9 2 14.4 2 21c0 11.9 22 24 22 24s22-12 22-24c0-6.6-5.4-12-12-12'/%3E%3C/svg%3E");
  } */
  .icon-park-solid--like {
    display: inline-block;
    width: 2em;
    height: 2em;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 48 48'%3E%3Cpath fill='%23ff0000' stroke='%23ff0000' stroke-linecap='round' stroke-linejoin='round' stroke-width='4' d='M15 8C8.925 8 4 12.925 4 19c0 11 13 21 20 23.326C31 40 44 30 44 19c0-6.075-4.925-11-11-11c-3.72 0-7.01 1.847-9 4.674A10.987 10.987 0 0 0 15 8'/%3E%3C/svg%3E");
  }
  .icon-park-outline--like {
    display: inline-block;
    width: 2em;
    height:2em;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 48 48'%3E%3Cpath fill='none' stroke='black' stroke-linecap='round' stroke-linejoin='round' stroke-width='4' d='M15 8C8.925 8 4 12.925 4 19c0 11 13 21 20 23.326C31 40 44 30 44 19c0-6.075-4.925-11-11-11c-3.72 0-7.01 1.847-9 4.674A10.987 10.987 0 0 0 15 8'/%3E%3C/svg%3E");
  }
  .like-section {
  display: flex;
  align-items: center;
}


.comment-icon {
  cursor: pointer;
  margin-right: 10px;
}

.iconamoon--comment-thin {
  display: inline-block;
  width: 3em;
  height: 3em;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
.like-section {
  display: flex;
  align-items: center;
}

.like-button,
.comment-icon {
  cursor: pointer;
  margin-right: 10px;
}


.iconamoon--comment-thin {
  display: inline-block;
  width: 1.8em;
  height: 1.8em;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='none' stroke='black' stroke-linecap='round' stroke-linejoin='round' d='M12 21a9 9 0 1 0-9-9c0 1.488.36 2.89 1 4.127L3 21l4.873-1c1.236.639 2.64 1 4.127 1'/%3E%3C/svg%3E");
}

  /*like*/