.acceptbtn{
    border-radius: 10px;
    background-color: rgb(235, 240, 241);
    padding: 10px;
    
}
/*canvas*/
.canvao{
    border-radius: 15px;
    width: fit-content;
    margin-left: 80px;
  }
  /*canvas*/