.profile-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }
  
  .profile-left {
    flex: 0 0 auto; /* Do not grow, do not shrink */
    margin-right: 20px; /* Add margin for spacing */
  }
  
  .profile-right {
    flex: 1; /* Grow to fill remaining space */
  }
  
  .user-details {
    margin-bottom: 20px;
  }
  
  .profile-image {
    width: 200px; /* Set width as needed */
    height: 200px; /* Set height as needed */
    border-radius: 50%;
    object-fit: contain;
  }
  
  .no-image {
    width: 200px; /* Set width as needed */
    height: 150px; /* Set height as needed */
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f0f0f0; /* Light grey background */
    color: #333; /* Dark grey text color */
    font-size: 18px;
  }
  