.usernamelabel {
    display: block;
    color: white;
    font-size: 14px;
    padding: 5px 5px;
  }
  
  #usernameField {
    display: block;
    width: 200px;
    height: 40px;
    background-color: #ffffff;
    border-radius: 30px;
    border: 2px solid #292929;
    padding: 0px 12px;
    outline: none;
    caret-color: rgb(88, 135, 255);
    color: rgb(212, 212, 212);
    font-size: 12px;
    transition-duration: .2s;
  }
  
  #usernameField:focus,
  #usernameField:valid {
    border: 2px solid rgb(152, 88, 255);
    transition-duration: .2s;
  }
  
  /*searchlist*/
  .searchlist{
    list-style-type:none;
    /* border: 1px solid black; */
    overflow-y: scroll;
  }
  .searched{
    cursor: pointer;
    background-color: rgb(247, 242, 242);
    border-radius: 10px;
    /* border: 1px solid black; */
    padding: 10px;
  }
  /*searchlist*/